Function to reads a list of book names from gutenberg , 
returns a list of lists each one contains words of the book

In [64]:
def read(list_of_books):
  import nltk
  nltk.download('gutenberg')
  all_books = []
  for i in list_of_books:
    all_books.append(list(nltk.corpus.gutenberg.words(i)))
  return all_books

Function to remove the special characters and stopwords from the books ,
input the list of lists of Books words,
return the cleaned books

In [65]:
def preprocessing(Book_text):
  import nltk
  import re
  from nltk.corpus import stopwords
  nltk.download('stopwords')
  filtered_book = []
  y = []
  stopwords = stopwords.words('english')
  for i in Book_text:
        y.extend(re.findall(r"\w+",i))
  for i in y:
    if i not in stopwords:
      filtered_book.append(i)    
  return filtered_book

Function to generate the random indeces

In [66]:
def generate_random_indeces(length):
  import random
  lst = []
  for i in range(200):
    tmp = random.randint(0,length-100)
    lst.append(tmp)
  return lst

Function to generate the list contains 200 index each one is list of 100 words

In [67]:
def splitting(books):
  clean_books = []
  for i in books:
    clean_books.append(preprocessing(i))

  sentences = []
  for clean_book in clean_books:
    indices = generate_random_indeces(len(clean_book))
    for i in indices:
      sentences.append(clean_book[i:i+100])
  return sentences

Function to change the list which contains 100 words to string,

In [68]:
def joined_sentences(sentences):
  joined = []
  for i in sentences:
    joined.append(' '.join(w for w in i))
  return joined

Function to generate the labels for the book,
input the list of books names,
return the list contains 200 book name except .txt

In [69]:
def labeling(names):  
  books_names = []
  for i in names:
    for j in range(200):
      books_names.append(i[:-4])
  return books_names

Generalized function to do all the above in one variable,
input the list of book names from gutenberg,
return the dataframe that displays the partitions and name of the books

In [70]:
def TextDataPartitioning(names):
  books = read(names)
  sentences = splitting(books)
  joined = joined_sentences(sentences)
  labels = labeling(names)
  import pandas as pd
  df = pd.DataFrame()
  df['sentences'] = sentences
  df['joined_sentences'] = joined
  df['Book_Names'] = labels
  return df

Input the name of the books

In [71]:
df = TextDataPartitioning(['austen-emma.txt', 'chesterton-brown.txt'])
df

[nltk_data] Downloading package gutenberg to /root/nltk_data...
[nltk_data]   Package gutenberg is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,sentences,joined_sentences,Book_Names
0,"[long, acquainted, said, Emma, nothing, I, sup...",long acquainted said Emma nothing I suppose kn...,austen-emma
1,"[every, thing, care, health, made, grieve, wou...",every thing care health made grieve would eat ...,austen-emma
2,"[I, never, met, equal, Much, beyond, hopes, Ha...",I never met equal Much beyond hopes Harriet di...,austen-emma
3,"[apprehension, frequently, endured, though, of...",apprehension frequently endured though offence...,austen-emma
4,"[subject, first, introduced, wonderful, story,...",subject first introduced wonderful story Jane ...,austen-emma
...,...,...,...
395,"[dressed, poorly, respectably, black, old, bla...",dressed poorly respectably black old black top...,chesterton-brown
396,"[mouth, open, speak, notebook, open, write, I,...",mouth open speak notebook open write I remembe...,chesterton-brown
397,"[scattered, houses, stood, farther, farther, a...",scattered houses stood farther farther apart b...,chesterton-brown
398,"[truly, fraternal, indifference, radiance, der...",truly fraternal indifference radiance derision...,chesterton-brown
399,"[head, hearts, Western, Sun, Dalroy, come, see...",head hearts Western Sun Dalroy come seemed snu...,chesterton-brown